#main-navbar {
  overflow: hidden;
  background-color: #0000ff;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-size: 20px;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #1E90FF;
  color: white;
}

.center-text {
  text-align: center;
  font-family: monospace;
}

.resume-page-background {
  background-color: #33cccc;
}

#resume-template{
  width: 70%;
  margin: 0 auto 5% auto;
  padding: 1% 1% 1% 1%;
  background-color: #F5FFFA;
}